// Body
$body-bg: #F7F5F1;
$primary: #9b88b8;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.navbar{
    background-color: #aad2be;
}

.navbar-brand{
    color: #F7F5F1 !important;
}

.nav-link{
    color: #F7F5F1 !important;
}

.label{
    color: #aad2be !important;
}

.btn{
    background-color: #8FBDA6 !important;
    color: #F7F5F1 !important;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}


.cont{
    max-width: 200px;
    text-align: left;
    color: #EEE;
    overflow: hidden;
}

hr{
    border: none;
    border-bottom: thin solid rgba(255,255,255,.1);
}

div.stars{
    width: 150px;
    display: inline;
}

input.star{
    display: none;
}

label.star {
    float: right;
    padding: 5px;
    font-size: 25px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content:'\f005';
    color: #FD4;
    transition: all .25s;
}


input.star-5:checked ~ label.star:before {
    color:#FE7;
    text-shadow: 0 0 5px #952;
}

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover{
    transform: rotate(-15deg) scale(1.3);
}

label.star:before{
    content:'\f006';
    font-family: FontAwesome;
}

input.star:checked ~ .rev-box{
    height: 125px;
    overflow: visible;
}

.fa-star{
    font-size: 20px;
}

@media only screen and (max-width: 767px) {
    .stars input {
        width: 20px;
        height: 20px;
    }

    .stars label {
        font-size: 20px;
    }
}

